torch~=2.11.0+cu126
numpy~=2.4.3
ipython~=9.11.0
ipykernel
ipywidgets~=8.1.8
torchvision~=0.26.0+cu126
matplotlib~=3.10.8
pandas~=3.0.1
spacy~=3.8.14
shapely~=2.1.2
evaluate~=0.4.6
datasets~=4.8.5
transformers~=5.8.1
opencv-python~=4.13.0.92
ultralytics~=8.4.64